$white = #ffffff
$blue  = #0070cb
$textcolor  = #333333

@import './_mixin/reset'
@import './_mixin/theme'
@import './_mixin/header'
@import './_mixin/footer'
@import './_mixin/top'

.frame
  width 100%

.frame_inner
  width 960px
  margin 0 auto

.unit
  width 100%
  margin-top 20px
