.entry_btn
  display block
  padding 10px 0 0 0
  background $blue
  border 1px solid $blue
  border-radius 6px
  text-align center
  h2
    background $blue
  a
    margin 2px 14px 9px 14px
    display block