.m_footer
  .m_inner
    padding 0
  img
    width auto
    max-width 100%

  .footer_top
    padding 35px 10px 0

    .tel_box
      text-align center

    .tel_box_image
      padding 20px 0
    
    .logo
      text-align center
      padding 0 40px 30px

    .attention
      padding-bottom 20px
      color #999999

    .text_box
      padding 0 0 20px
      color #999999
      text-align center

      p
        padding-bottom 10px

        &.headline
          padding-top 10px
          font-weight bold

    .switcher
      background none
      margin-bottom 40px
      .switcher_box
        border none
        background none
      .switcher_btn
        font-size 100%
        text-align center
        a
          display inline
          padding 0
          background none
          text-decoration underline

          &:after
            content normal
        a::after
          display none

  .box_tell
    position relative
    display table
    .tell
      font-size 180%
      display table-cell
      vertical-align middle
      padding-right 10px
      width 160px
      img
        vertical-align middle
    .tell_info
      font-size 75%
      display table-cell
      vertical-align middle
      line-height 1.2
      p
        padding-top 4px
  .footer_bottom
    border-top 2px solid $blue
    text-align center

    .logo
      padding-top 20px
      padding-bottom 15px

    .footer_link
      display inline
      overflow hidden

      li
        display inline

        a
          padding-left 10px
          background url(/zemi/trial/common/images/icon_arrow.gif) no-repeat 0 center
          color #0070cb
          text-decoration underline

    .copy
      padding 20px 0
      text-align center


