.mv_chu
  border-top 2px solid $red

.mv_sho
  border-top 2px solid $blue

.mv_h
  border-top 2px solid #f5d522

.mainvs_btn
  margin-top 10px
  padding 8px 0 0 0
  border 1px solid $blue
  border-radius 6px
  text-align center
  img
    margin-bottom 5px
  img.stit
    width 180px
  img.ltit
    width 100%
  img.cmp
    padding 5px 0
    background $blue
  .btn_area
    position relative
    padding 0 8px
    display table
    .prod
      width 50%
      display table-cell
      vertical-align middle
    .btn
      width 50%
      display table-cell
      vertical-align middle
      a
        display block
  .btn_area:after
    content "."
    display block
    visibility hidden
    font-size 0
    height 0
    clear both