/* color */
.blue
  color $blue

/* text */
.center
  text-align center

.left
  text-align left

.right
  text-align right

/* size */
.large
  font-size 150%

.middle
  font-size 110%

.small
  font-size 80%
  
/* link */
a.txtlink
  color $blue
  text-decoration underline