body
  font-size 13px
  line-height 1.5
  font-family "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  color $textcolor

.m_header
  padding: 10px 0
  p
    text-align center
  img
    width auto

.m_footer
  margin-top 10px

.m_inner
  padding 0 10px
  margin 0 auto

.m_cont
  width 100%

.chu
  background #dce9f3

.sho
  background #fdf6d2

.h
  background #fce9e9
  
.mb20
  margin-bottom 20px
