.top
  .frame_inner
    padding 10px 4%

  &.bg
    .frame_inner
      padding 0

  .text_box
    padding-top 10px

    .blue
      color #0660a8

    .pt0
      padding-top 0

    h2
      font-size 1.7em
      text-align center

    p
      font-size 1em
      text-align center
        
      img
        width auto
        max-width 100%
        vertical-align middle

    &.border
      padding-bottom 20px
      margin-bottom 20px
      border-bottom 1px dotted #cccccc

    &.color  
      p
        padding-top 10px
        margin-top 0

  .anchor_box
    padding-top 50px
    padding-bottom 50px

  .top_content
    padding 20px 4.5%
    background #fafaf8

    .cols.yellow
      a
        width 100%

    .cols
      .cols_text
        padding 0 0 2em
        text-align center

        a
          color #0f76b8
          text-decoration underline

      .cols_inner
        margin-bottom 20px
        padding-bottom 10px
        border-bottom 1px dotted #cccccc

        &.bordernone
          margin-bottom 0
          padding-bottom 0
          border-bottom none
  
      .cols_pad
        margin-bottom 15px
        background #ffffff
        border-radius 4px
        box-sizing border-box

        a
          display block
          width 100%
          height 45px
          line-height 45px
          padding-left 35px
  
      &.yellow 
        .cols_pad
          border 1px solid #ffb300

          a
            background url(/zemi/trial/common/images/top/sp/icn_arrow_yellow.png) no-repeat 15px center
            background-size 10px 10px
            color #ffb300

      &.blue 
        .cols_pad
          border 1px solid #0660a8

          a
            background url(/zemi/trial/common/images/top/sp/icn_arrow_blue.png) no-repeat 15px center
            background-size 10px 10px
            color #0660a8

      &.red 
        .cols_inner
          border-bottom none

        .cols_pad
          border 1px solid #ff0000

          a
            background url(/zemi/trial/common/images/top/sp/icn_arrow_red.png) no-repeat 15px center
            background-size 10px 10px
            color #ff0000
  
