mixin header()
  .m_header
    .m_inner
      p.logo


mixin footer()
  .m_footer
    .m_inner
      .footer_top
        .footer_top_inner
          p.logo

      .footer_bottom
        .footer_bottom_inner
          .footer_link
          
          .copyright
