mixin SPheader()
  .m_header
    .m_inner
      p.logo
        a(href="#")
          img(src="/zemi/trial/common/images/sp/logo.png" width="142" height="29")


mixin SPfooter()
  .m_footer
    .m_inner
      .footer_top
        .footer_top_inner
          p.logo
            img(src="/zemi/trial/common/images/sp/footer_text_logo.png", alt="人は、一生育つ。Benesse(R)")

          .tel_box
            p
              |「冬の復習　無料体験セット」への
              br
              |お申込み・お問い合わせ
            p （フリーダイヤル・通話料無料）
            .tel_box_image
              a(href="tel:0120885555")
                img(src="/zemi/trial/common/images/sp/img_tel_num.png")
            p.attention
              |受付時間 ：10：00～21：00（ただし12/1(月）以降は、12/30（火）～1/4（日）を除く毎日9：00～21：00まで受付しております。)

            .text_box
              p 今回無料おためし体験セットをご応募いただいた方には、『進研ゼミ』よりご案内・お電話を差し上げることがございます。あらかじめご了承ください。

              p.headline 「進研ゼミ」会員の方へ
              p
                |今回さしあげる「無料トライアルセット」は、会員のみなさまには教材としてお届けしたもの、
                br
                |もしくは今後お届けするものの抜粋版ですので、ご請求いただく必要はありません。ご安心ください。

          .switcher
            .switcher_box
              p.switcher_btn
                a(href="#") 個人情報の取り扱いについて
              .switcher_text
                .unit
                  p ご提供いただく個人情報は、お申し込みの商品・サービスの提供の他、学習・語学、子育て・暮らし支援、趣味等の商品・サービスおよびその決済方法等に関するご案内、調査、統計・マーケティング資料作成および、研究・企画開発に利用します。お客様の意思によりご提供いただけない部分がある場合、手続き・サービス等に支障が生じることがあります。また、商品発送等で個人情報の取り扱いを業務委託しますが、厳重に委託先を管理・指導します。個人情報に関するお問い合わせは、個人情報お問い合わせ窓口　（0120-924721 通話料無料、日祝日・年末年始を除く、10時～20時）にて承ります。
                  p.right （株）ベネッセコーポレーション 　CPO(個人情報保護最高責任者）

      .footer_bottom
        .footer_bottom_inner
          .logo
            a(href="http://www.benesse.co.jp/?svi=0FB8E3CA2F4E8E87-184D5E86FC2CD756", target="_blank")
              img(src="/zemi/trial/common/images/sp/footer_logo.gif", alt="Benesse(R)")

          ul.footer_link
            li
              a(href="http://www.benesse.co.jp/privacy/?svi=0FB8E3CA2F4E8E87-184D5E86FC2CD756", target="_blank") 個人情報保護への取り組みについて
            li
              a(href="http://www.benesse.co.jp/benesseinfo/?svi=0FB8E3CA2F4E8E87-184D5E86FC2CD756", target="_blank") 会社案内

          p.copy &copy; Benesse Holdings, Inc. All rights reserved.


mixin sho1_5_Text(num)
  .unit
    h3.cont-tit 進研ゼミ小学講座「チャレンジ１年生」が実際に体験できる教材です。
    h4.line-tit 自信いっぱいの３学期スタートへニガテをトクイに変える体験を届け。
    p ２学期にニガテになりやすい単元を学習した今、「冬の復習体験セット」で、自分の力でトクイに変える体験をしませんか？
    img(src="/zemi/trial/common/images/sho#{num}/sp/img01.png")
    h4.line-tit 考え方から理解できるテキストで、各教科のニガテを克服できます。
    p つまずきかすい単元を厳選しています。さらに図解やイラストの説明でニガテな単元でも基本的な考え方から理解できます。
    p 算数は、選べる「単元別のおさらい」で効率的に取り組めます。
      br
      | 小１　 くり上がりのあるたしざん・くり下がりのあるひきざん／10より大きいかず
      br
      | 小２　 かけ算／たし算と　ひき算の　ひっ算
      br
      | 小３　かけ算の筆算／小数
      br
      | 小４　式と計算（計算のきまり）／面積
      br
      | 小５　平均・単位量あたりの大きさ／面積
    img(src="/zemi/trial/common/images/sho#{num}/sp/img02.png")
    h4.line-tit 自信いっぱいの新学期を迎えるヒケツは単元連動の総仕上げ。
    p 本番さながらのテストでニガテな単元がトクイに変わる実感をえられ、●●●アドバイザーに個別のお悩みを相談することもできます。
    img(src="/zemi/trial/common/images/sho#{num}/sp/img02.png")
    h4.line-tit 冬休みの「なんで？」をきっかけに、知的好奇心を育てませんか。
    p 学校の無い長期休みは、日々の疑問について考える良いチャンス。発見や気づきがある特集で好きなことを見つけ、科学的思考力を育てる応援をします。
    img(src="/zemi/trial/common/images/sho#{num}/sp/img02.png")
