.m_footer
  .m_inner
    width auto

    .footer_top
      .footer_top_inner
        width 960px
        margin 0 auto 60px

        .logo
          text-align center

        .tel_box
          padding 60px 0 0
          text-align center

        .tel_box_image
          padding 25px 0

        .attention
          color #999999
          font-size 0.85em

        .text_box
          padding-top 15px
          color #999999
          font-size 0.85em
          text-align center

          p
            padding-bottom 10px

            &.headline
              padding-top 5px
              padding-bottom 5px
              font-weight bold

        .switcher_box
          width 600px
          margin 0 auto
          padding-top 25px
          padding-bottom 10px

          .switcher_btn
            text-align center
            a
              color #0070cb
              text-decoration underline

          .switcher_text
            display none
            padding-top 15px
            .right
              padding-top 5px
              text-align right
  

    .footer_bottom
      border-top 6px solid $blue

      .footer_bottom_inner
        width 960px
        margin 0 auto
        padding 13px 0 20px
        overflow hidden
    
        .footer_link
          float left
          overflow hidden
    
          li
            float left
            padding 0 8px
            
            a
              padding-left 10px
              background url(/zemi/trial/common/images/icon_arrow.gif) no-repeat 0 center
              color #0070cb
              text-decoration underline
    
        .copyright
          float right
          width 350px
    
    
