.m_header
  .m_inner
    overflow hidden

  p.logo
    float left
    width 212px
    padding-left 12px

    img
      width 100%

  .head-info
    float right
    width 600px
    overflow hidden

    .copy
      float left
      padding-right 10px

    .btn
      float left
      padding-right 17px

    .tell
      float left
  
  
