body
  font-size 13px
  line-height 1.4em
  font-family "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  color $textcolor

.m_header
  padding: 20px 0 25px

.m_footer
  padding: 10px 0

.m_inner
  width 960px
  margin 0 auto

.m_cont
  width 100%
  
