box-sizing(arg)
  -webkit-box-sizing arg
  -moz-box-sizing arg
  box-sizing arg

.mv_top 
  border-top 1px solid #cccccc
  
.mainvs
  width 960px
  margin 0 auto

.top
   .text_box
    margin-bottom 45px

    .blue
      color #0660a8


    h2
      font-size 3.7em
      font-weight normal
      line-height 1.3
      text-align center

      &.blue
        line-height 1.1

    p
      font-size 1.2em
      text-align center
      line-height 1.5

      &.pt0
        padding-top 0
      &.pt20
        padding-top 20px
       
      img
        padding-right 5px
        vertical-align middle

    &.border
      padding-top 45px
      padding-bottom 45px
      margin-bottom 45px
      border-bottom 1px dotted #cccccc

    &.line
      p
        line-height 2

    &.color  
      p
        padding-top 10px
        margin-top 0

.top_content

  .content_box
    margin-bottom 30px
    padding-top 30px
    background #fafaf8

    a
      color #0070cb
      text-decoration underline


  .cols
    overflow hidden

    .cols_text
      float left
      width 600px
      padding 40px 0 0 20px

    .cols_inner
      overflow hidden
      margin 0 20px 30px 20px
      padding-bottom 30px
      border-bottom 1px dotted #cccccc

      &.bordernone
        margin-bottom 0
        padding-bottom 0
        border-bottom none

    .cols_pad
      float left
      width 293px
      margin-left 20px
      margin-bottom 15px
      // background #ffffff
      border-radius 2px
      box-sizing border-box

      &:first-child
        margin-left 0

      a
        display block
        width 100%
        height 58px
        line-height 58px
        padding-left 63px
        text-decoration none

    &.yellow 
      .cols_pad
        border 1px solid #ffb300
        a
          background url(/zemi/trial/common/images/top/icn_arrow_yellow.png) no-repeat 30px center #ffffff
          color #ffb300
          &:hover
            background url(/zemi/trial/common/images/top/icn_arrow_yellow_ovr.png) no-repeat 30px center #ffb300
            color #ffffff
    &.blue 
      .cols_pad
        border 1px solid #0660a8
        a
          background url(/zemi/trial/common/images/top/icn_arrow_blue.png) no-repeat 30px center #ffffff
          color #0660a8
          &:hover
            background url(/zemi/trial/common/images/top/icn_arrow_blue_ovr.png) no-repeat 30px center #0660a8
            color #ffffff
    &.red 
      .cols_inner
        margin-bottom 0
        padding-bottom 20px
        border-bottom none
      .cols_pad
        border 1px solid #ff0000
        a
          background url(/zemi/trial/common/images/top/icn_arrow_red.png) no-repeat 30px center #ffffff
          color #ff0000
          &:hover
            background url(/zemi/trial/common/images/top/icn_arrow_red_ovr.png) no-repeat 30px center #ff0000
            color #ffffff
 
