extends /_theme/layout
include /_mixin/module

block main

  .frame.mv_top
    .mainvs

  .frame.top
    .frame_inner
      .unit
        .text_box.border.line
          h2 メインコピーがはいります。

        .top_content

    
  

