$white = #ffffff
$blue  = #0f76b8
$textcolor  = #333333
$red = #de2525

@import './_mixin/reset'
@import './_mixin/theme'
@import './_mixin/text'
@import './_mixin/mainvs'
@import './_mixin/switch'
@import './_mixin/btn'
@import './_mixin/footer'
@import './_mixin/top'

.frame
  width 100%

.frame_inner
  padding 10px

.unit
  width 100%
  margin-top 10px
